* {
    margin: 0;
    padding: 0;
    font-family: poppins, sans-serif;
    box-sizing: border-box;
}

body {
    background-color:#000000;
    display: flex;
    flex-direction: column;
    color: #f5dede;
}
<<<<<<< HEAD

=======
header li{
    display: inline-block; /* ahora que desbloquearon todo lo que es flex hay que volar todo lo que tenga inline */
    padding: 20px 20px 30px 30px;
    color: #f8f8f8;
}
nav{
    
}
h1{
    color: #330036;
    font-size: 100px;
    padding: 30px;
}
.sua{
color: #f8f8f8;
padding: 40px;
}
/* si sua y sud tienen exactamente las mismas propiedades lo mejor es declarar sus propiedades una sola vez para ahorrar líneas */
.sud{
    color: #f8f8f8;
padding: 40px;
}
footer{
    background-color: #000000;
    padding: 30px;
}
footer p{
    color: #f8f8f8;
}
>>>>>>> 463527b7df4ef2bde79c0b3c4b9d651bff75051e
