@import url();
@import url();
@import url();

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html{
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column; /*Si esto desaparece mi footer*/
    font-family: "poppins", sans-serif;
}

/*Desde aca es Header*/
header {
/*(PROBAR INCORPORAR PARA ACHICAR EL NAVEGADOR)*/
    width: 100%;
    background-color: black;
padding: 10px;
}

.botonera{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.botonera a {
    padding: 20px;
    color: rgb(255, 255, 255);
    border-radius: 40px;
    font-family: "new amsterdam", sans-serif;
    font-size: 20px;
    transition: all 0.3s linear;
}

.botonera a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

/*Desde aca es main*/

section[id] {
    height: 100vh;
    padding:30px;
}

/*Desde aca es bienvenida*/
h1 {
    font-size: 220px;
    color: blueviolet;
}

#bienvenidos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
/*Desde aca es sobre mi*/
#sobremi {
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    gap: 50px;
}

.caja {
    max-width: 25%;
}
/*Desde aca es formación*/
#formacion {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(194, 27, 27);
    gap: 30px;
}

.educacion, .idiomas{
    display: flex;
    flex-direction: row;
    gap: 35px;

}
/*Desde aca es experiencia*/
#experiencia {

}
/*Desde aca es proyectos*/

/*Desde aca es habilidades*/

/*Desde aca es contacto*/

/*Desde aca es footer*/



/*@media screen and (max-width: 768px) {
    .botonera ul {
        display: block;
        justify-content: space-around;
        align-items: center;
        
    
    }    
    .botonera a {
        display: block;
        width: 100%;
        padding: 20px;
        background-color: none;
        color: rgb(255, 255, 255);
        border-radius: 40px;
        font-family: "new amsterdam", sans-serif;
        font-size: 20px;
        transition: all 0.3s linear;
    }
    .botonera a:hover {
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
    }

    main, footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    section[id] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20%;
        width: 100%;
    }
    
    .bienvenidos {
        padding-top: 15%;
        padding: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        width: 100%;
    }
    #sobremi {
        background-color: black;
        color: aliceblue;
    
    }
    h1{
        font-size: 220px;
        color: blueviolet;
    }
    .enlaces ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
        flex-wrap: wrap;
    }
    .enlaces a{
        display: block;
        width: 100%;
        padding: 20px;
        background-color: black;
        color: rgb(255, 255, 255);
        border-radius: 40px;
        font-family: "new amsterdam", sans-serif;
        font-size: 30px;
        margin: 0 auto;
        transition: all 0.3s linear;
    }
}
/*aca es max-width se define a partir de donde se "deforma" la pagina en la prueba responsive*/
/*Desde aca es footer*/